.col{
    align-content: center;
    align-self: center;
}
.iframe{
    align-self: center;
}
nav{
    display: block;
    margin: 0 0 70px 0;
}
body{

    position: relative;
}
.scroll-text{
    height: 400px;
    overflow: scroll;
}
.control-time{
    overflow: scroll;
    padding: 0 20px 20px 20px;
    margin-top: 0px;
    max-height: 440px;
}
@media only screen and (max-width: 992px) {
  .control-time{
    padding:20px;
    margin-top: 20px;
  }

}
.container{
  margin-top: 70px;
}
#below{
  /*position: relative;*/
  background-color: black;
  color: white;
  padding-bottom: 10px;
}
#playScreen{
  background-color: black;
  position: relative;
}
#underSubtitles{
  align-content: center;
  min-height:10px;
}

#underSubtitle{
  text-align: center;
  font-size: 20px;
}

.fb-like{
  display: inline;
}

.checkbox{
  display: inline;
  position: absolute;
  margin-top: 10px;
  right: 10px;
  bottom: -3px;
}

#repeatText{
  margin-right: 40px;
  font-size: 20px;
}

.navbar-brand{
  font-size: 42px;
  font-family: 'Do Hyeon', serif;
  color: snow !important;
}
li{
  font-family: 'Gugi', serif;

}
.vMiddle{
 margin-top: 12px;
 font-size: 20px;
}
.navbar-right{
  padding-top: 13px;
}
.navbar{
  background:rgba(0,0,0,0.7);
  box-shadow: 0 0px 0px rgba(0,0,0,0) !important;
}
.navbar-inverse .navbar-nav>li>a {
  color: snow !important;
}
.videoTitle{
  font-size: 28px;
  margin: 30px 0 25px 0;
  color: white;
}
.dropdown-menu{
  padding: 0;
}
.icon-bar{
  background-color: white !important;
}
.navbar-collapse{
  border-color: transparent !important;
}
.part-icon{
  display: none;
  visibility: hidden;
  position: absolute !important;
}
@media only screen and (min-width: 762px) {
  .part-icon{
    position: static !important;
    visibility:visible;
    color: white;
    margin: 12px 10px;
  }
}
body{
  background-color:#222;
}
#eng_caption{
  color:rgb(255,0,0);
}
#cn_caption{
  color:rgb(255,0,0);
}
#lngChangeLabel{
  display: inline;
  position: absolute;
  right: 200px;
  bottom: 12px;
  font-size: 17px;

}

/* Popup container - can be anything you want */
.popup {
  position: relative;
  /*display: inline-block;*/
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
  min-width: 100% !important;
  width: 100% !important;
  color: #fff;
}

#fb-comments { 
  width: 100%;
  float: left;
  font-family: Arial, Helvetica, sans-serif; 
  color: #fff; 
}

#comments a { color: #ff6600; }

#my-fb-comments{
  background-color: #fff;
  margin-top: 20px;
  color:#fff;
}

#player{
  margin-bottom: 20px;
}